.pricehome{
    
}

.pricehome-top{
    background: var(--color-sec);
}

.pricehome-wrapper{
    text-align: left;
    color: var(--color-prim);
    padding: 3rem 1.5rem 2.5rem 1.5rem;
}

.pricehome-wrapper h1{
    font-size: var(--font-size-h2);
}

.pricehome-wrapper p{
    font-size: var(--font-size-h5);
}

.pricehome-item p{
    color: var(--color-prim);
    line-height: 1.9;
    font-size: var(--font-size-h4);
}

.pricehome-table{
    padding: 3rem 1.5rem 1.5rem 1.5rem;
    width: 100%;
    font-size: var(--font-size-h5);
}
.pricehome-table td{
    padding-top: 1rem;
}
.pricehome-wrapper-table p{
    font-size: var(--font-size-h5);
    padding: 0 0 3rem 0;
    text-align: left;
}


@media screen and (max-width: 900px) {
    .pricehome-wrapper{
        flex-direction: column;
        align-items: center;
    }

    .pricehome-item:last-child{
        margin-top: 3rem;
    }
}